$primary-color: #003459;
$primary-dark: #002a48;
$primary-light-one: #0078cd;
$primary-light-two: #00528c;
$secondary-color: #f7dba7;
$secondary-dark: #eec77e;
$secondary-light-one: #fceed5;
$secondary-light-two: #f1d092;
$white-color: #fff;
$text-color: #242b33;

$tablet: 1240px;
$mobile: 740px;
$galaxy-fold: 340px;

$font-serif: sans-serif;

$gradient: linear-gradient(
  103deg,
  #fceed5 6.43%,
  #fceed5 78.33%,
  #ffe7ba 104.24%
);
