#explore {
  height: 378px;
  .container {
    align-items: center;
    background: $primary-color;
    margin-block: 60px;
    border-radius: 20px;
    position: relative;

    .explore-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
      padding-right: 30px;
      gap: 24px;
      flex: 1;
      position: relative;
      right: 0;
      top: 0;
    }

    .exp-2 {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  h1 {
    color: $primary-dark;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    text-transform: capitalize;
  }

  h2 {
    color: $primary-dark;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
  }

  p {
    text-align: end;
    width: 490px;
    color: $text-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .btns {
    display: flex;
    gap: 20px;
  }

  .explore-img {
    display: flex;
    align-items: end;
    flex: 1;
    height: 378px;

    .exp-1 {
      left: 0;
    }

    img {
      position: absolute;
    }
  }
}

#explore-tab{
  display: none;
}
