#knowledge {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    gap: 14px;

    h5 {
      color: #fdfdfd;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      padding: 2px 10px;
      background-color: #00a7e7;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-radius: 28px;
      height: 24px;
      align-self: start;
    }
    p {
      height: 60px;
      overflow: hidden;
      color: $primary-color;
      text-overflow: ellipsis;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
}
