.card-bottom {
  border-radius: 12px;
  background-color: $secondary-color;
  padding: 6px 10px 4px 10px;
  gap: 2px;
  align-self: stretch;
  p {
    padding-left: 12px;
    color: var(--primary-color-dark-blue-80, #002a48);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
  }
}
